<script src="~/lib/jquery/dist/jquery.min.js"></script>

<header class="main-header dark-bg">

    <a href="../index.html" class="logo dark-bg">
        <span class="logo-mini"><img src="~/images/logos/mulhtishop1.jpg" style="width: 50px !important; height: 50px !important;" alt="MultiShop"></span>
        <span class="logo-lg"><img src="~/images/logos/mulhtishop1.jpg" style="width: 200px !important; height: 50px !important;" alt="MultiShop"></span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"> <span class="sr-only">Toggle navigation</span> </a>
        <div class="pull-left search-box">
            <form action="#" method="get" class="search-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i> </button>
                    </span>
                </div>
            </form>
        </div>

        <script type="text/javascript">
            $(document).ready(() => {
                var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7130/SignalRHub").build();
                $("#connstatus").text(connection.state);

                connection.start()
                    .then(() => {
                        $("#connstatus").text(connection.state);
                        connection.invoke("SendStatisticsCount");
                    })
                    .catch((err) => { console.error("HATA: ", err) });

                connection.on("ReceiveCommentCount", (value) => {
                    $("#commentCount").text(value);
                });

                connection.on("ReceiveMessageCount", (value) => {
                    $("#messageCount").text(value);
                });
            });
        </script>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-envelope"></i>
                        <div class="notify"> <span class="hearbit"> </span> <span class="point"></span> </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header"><strong id="commentCount"></strong> Yeni Yorum Var!</li>
                         @* Son 5 Yorum *@
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <div class="pull-left"><img src="../dist/img/img1.jpg" class="img-circle" alt="User Image"></div>
                                        <h4>Florence Douglas</h4>
                                        <p>Lorem ipsum dolor sit amet.</p>
                                        <p><small><i class="fa fa-clock-o"></i> 2 mins</small></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left"><img src="../dist/img/img2.jpg" class="img-circle" alt="User Image"></div>
                                        <h4>Douglas Smith</h4>
                                        <p>Lorem ipsum dolor sit amet.</p>
                                        <p><small><i class="fa fa-clock-o"></i> 15 mins</small></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left"><img src="../dist/img/img3.jpg" class="img-circle" alt="User Image"></div>
                                        <h4>Lorence Deo</h4>
                                        <p>Lorem ipsum dolor sit amet.</p>
                                        <p><small><i class="fa fa-clock-o"></i> 35 mins</small></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left"><img src="../dist/img/img1.jpg" class="img-circle" alt="User Image"></div>
                                        <h4>Florence Douglas</h4>
                                        <p>Lorem ipsum dolor sit amet.</p>
                                        <p><small><i class="fa fa-clock-o"></i> 2 mins</small></p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">Tümünü Okundu Yap</a></li>
                    </ul>
                </li>
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-megaphone"></i>
                        <div class="notify"> <span class="heartbit"> </span> <span class="point"></span> </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header"><strong id="messageCount"></strong> Mesaj Var!</li>
                        @* Son 5 Mesaj *@
                        <li>
                            <ul class="menu">
                                <li><a href="#"><i class="icon-lightbulb"></i> Lorem ipsum dolor sit amet </a> </li>
                                <li><a href="#"><i class="icon-map-pin blue"></i> Lorem ipsum dolor sit amet </a> </li>
                                <li><a href="#"><i class="icon-refresh orange"></i> Lorem ipsum dolor sit amet </a> </li>
                                <li><a href="#"><i class="icon-map-pin blue"></i> Lorem ipsum dolor sit amet </a> </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">Tümünü Görüntüle</a></li>
                    </ul>
                </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/images/logos/manlogo.jpg" class="user-image" alt="User Image"> <span class="hidden-xs">@ViewBag.UserName</span> </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <div class="pull-left user-img"><img src="~/images/logos/manlogo.jpg" class="img-responsive" alt="User"></div>
                            <p class="text-left">@ViewBag.UserName <small>@ViewBag.Email</small> </p>
                            <div class="view-link text-left"><a href="#">Profili Görüntüle</a> </div>
                        </li>
                        <li><a href="#"><i class="icon-profile-male"></i> Profilim</a></li>
                        <li><a href="#"><i class="icon-envelope"></i> Gelen Mesajlar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="icon-gears"></i> Şifre Değişikliği</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-power-off"></i> Çıkış Yap</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>