@model ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/User/Views/UserLayout/Index.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Şifre Güncelleme</h4></p>
                    <form id="ChangePasswordForm" class="forms-sample" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Yeni Şifre</label>
                                    <input asp-for="NewPassword" class="form-control" type="text" placeholder="Yeni Şifre">
                                    <span asp-validation-for="NewPassword" class="text text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Yeni Şifre Tekrarı</label>
                                    <input asp-for="NewPasswordConfirm" class="form-control" type="password" placeholder="Yeni Şifre Tekrarı">
                                    <span asp-validation-for="NewPasswordConfirm" class="text text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span asp-validation-summary="ModelOnly"></span>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success mr-2">Güncelle</button>
                        <a href="/user/profile/addresses" class="btn btn-outline-danger">İptal</a>
                    </form>
                    @if (ViewBag.ChangePasswordError != null)
                    {
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-end align-items-center">
                                <span class="text-left alert alert-danger w-25">@ViewBag.ChangePasswordError</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

