@model CreateCargoOperationDto
@{
    ViewData["Title"] = "AddCargoOperation";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kargo Hareketi Ekleme</h4>
                <div class="row">
                    <form id="AddNewCargoOperation" asp-area="Admin" asp-controller="CargoOperation" asp-action="AddCargoOperation" method="post">
                        @Html.HiddenFor(x=>x.Barcode)
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label asp-for="OperationDate" class="control-label">İşlem Tarihi</label>
                                <input asp-for="OperationDate" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" class="form-control" placeholder="İşlem Tarihi">
                            </div>
                        </div><div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label asp-for="Description" class="control-label">Kargo İşlemi</label>
                                <select asp-for="Description" asp-items="@ViewBag.OperationType" type="datetime" class="form-control" placeholder="Kargo İşlemi"></select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
