@model CreateRegisterDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MultiShop Kullanıcı Kayıt Sayfası</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/colorlib-regform-30/css/opensans-font.css">
    <link rel="stylesheet" type="text/css" href="~/colorlib-regform-30/fonts/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
    <link rel="stylesheet" href="~/colorlib-regform-30/css/style.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="form-v4">
    <div class="page-content">
        <div class="form-v4-content">
            <div class="form-left">
                <h2>MultiShop E-Ticaret</h2>
                <p class="text-1">MultiShop projemiz üzerinden e-ticaret işlemlerini gerçekleştirebilmek, indirimli ürünler ve fırsatlardan haberdar olmak için 1 dakika kayıt işlemini gerçekleştirin.</p>
                <p class="text-2">Eğer bir hesabınız varsa aşağıdaki link üzerinden hemen hesabınza giriş yapabilirsiniz.</p>
                <div class="form-left-last">
                    <a href="/Login" class="register" style="background: #fff !important;">Giriş Yap</a>
                </div>
            </div>
            <form id="RegisterForm" class="form-detail" asp-controller="Register" asp-action="Index" method="post">
                <h2>MultiShop Kayıt Formu</h2>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <label asp-for="Name">Adınız</label>
                        <input asp-for="Name" type="text" id="first_name" class="input-text">
                        <span asp-validation-for="Name" class="text text-danger"></span>
                    </div>
                    <div class="form-row form-row-1">
                        <label asp-for="Surname">Soyadınız</label>
                        <input asp-for="Surname" type="text" id="last_name" class="input-text">
                        <span asp-validation-for="Surname" class="text text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <label asp-for="Email">E-Posta</label>
                    <input asp-for="Email" type="text" id="your_email" class="input-text">
                    <span asp-validation-for="Email" class="text text-danger"></span>
                </div>
                <div class="form-row">
                    <label asp-for="Username">Kullanıcı Adınız</label>
                    <input asp-for="Username" type="text" id="your_username" class="input-text">
                    <span asp-validation-for="Username" class="text text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1 ">
                        <label asp-for="Password">Şifre</label>
                        <input asp-for="Password" type="password" id="password" class="input-text">
                        <span asp-validation-for="Password" class="text text-danger"></span>
                    </div>
                    <div class="form-row form-row-1">
                        <label asp-for="ConfirmPassword">Şifre Tekrarı</label>
                        <input asp-for="ConfirmPassword" type="password" id="comfirm_password" class="input-text">
                        <span asp-validation-for="ConfirmPassword" class="text text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    </div>
                </div>
                <div class="form-checkbox">
                    <label class="container">
                        <p>Şartları okudum <a href="#" class="text">Şartları kabul ediyorum.</a></p>
                        <input type="checkbox" name="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Kayıt Ol">
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
</body>
</html>
