@model UpdateCategoryDto

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori Güncelleme Sayfası</h4>
                <p class="alert alert-info">Kategori ile ilgili güncelleme işlemlerinizi aşağıdaki alandan gerçekleştirebilirsiniz.</p>
                <div class="row">
                    <form id="UpdateCategory" asp-area="Admin" asp-controller="Category" asp-action="UpdateCategory" method="post" enctype="multipart/form-data">
                        @Html.HiddenFor(c => c.CategoryID)
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label asp-for="CategoryName" class="control-label">Kategori Adı</label>
                                <input asp-for="CategoryName" type="text" class="form-control" placeholder="Kategori Adı">
                                <span asp-validation-for="CategoryName" class="text text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label asp-for="CategoryImage" class="control-label">Kategori Görseli</label>
                                <input asp-for="CategoryImage" type="file" class="form-control">
                            </div>
                        </div>
                        @Html.HiddenFor(c => c.CategoryImageUrl)
                        <div class="col-md-12">
                            <a href="~/userfiles/@Model.CategoryImageUrl">Kayıtlı Kategori Görselini Görüntülemek İçin Tıklayınız</a>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success">Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


