<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/images/logos/manlogo.jpg" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>MultiShop Admin</p>
                <a href="#"><i class="fa fa-circle"></i> Çevrimiçi</a>
            </div>
        </div>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menü</li>
            <li> <a href="/admin/statistics"> <i class="fa fa-th"></i> <span>İstatistikler</span></a> </li>
            <li> <a href="/admin/category"> <i class="fa fa-th"></i> <span>Kategoriler</span></a> </li>
            <li> <a href="/admin/product/productlistwithcategory"> <i class="fa fa-shopping-bag"></i> <span>Ürünler</a> </li>
            <li> <a href="/admin/featureslider"> <i class="fa fa-line-chart"></i> <span>Öne Çıkanlar</a> </li>
            <li> <a href="/admin/specialoffer"> <i class="fa fa-cart-arrow-down"></i> <span>Özel Teklifler</a> </li>
            <li> <a href="/admin/servicestandard"> <i class="fa fa-puzzle-piece"></i> <span>Servis Standartları</a> </li>
            <li> <a href="/admin/offerdiscount"> <i class="fa fa-coffee"></i> <span>Özel İndirimler</a> </li>
            <li> <a href="/admin/vendor"> <i class="fa fa-university"></i> <span>Markalar</a> </li>
            <li> <a href="/admin/comment"> <i class="fa fa-comment"></i> <span>Yorumlar</a> </li>
            <li> <a href="/admin/user/userlist"> <i class="fa fa-users"></i> <span>Kullanıcı Listesi</a> </li>
            <li> <a href="#"> <i class="fa fa-shopping-basket"></i> <span>Sipariş Listesi</a> </li>
            <li> <a href="#"> <i class="fa fa-money"></i> <span>Kasa Bilgileri</a> </li>
            <li> <a href="#"> <i class="fa fa-pie-chart"></i> <span>İstatistikler</a> </li>
            <li> <a href="/admin/cargo/cargocompanylist"> <i class="fa fa-shipping-fast"></i> <span>Kargo Şirketleri</a> </li>
            <li> <a href="/admin/cargodetail/index"> <i class="fa fa-truck-arrow-right"></i> <span>Kargo İşlemleri</a> </li>
            <li> <a href="#"> <i class="fa fa-cart-arrow-down"></i> <span>İndirimler</a> </li>
            <li> <a href="#"> <i class="fa fa-picture-o"></i> <span>Görseller</a> </li>
            <li> <a href="#"> <i class="fa fa-paper-plane"></i> <span>Mesajlar</a> </li>
            <li> <a href="/admin/about"> <i class="fa fa-info"></i> <span>Hakkımızda</a> </li>
            <li> <a href="#"> <i class="fa fa-cog"></i> <span>Ayarlar</a> </li>
            <li> <a href="/logout"> <i class="fa fa-sign-out"></i> <span>Çıkış Yap</a> </li>
            <li> <a href="/default"> <i class="fa fa-map-pin" area-hidden="true"></i> <span>Siteye Dön</a> </li>
        </ul>
    </section>
</aside>