@using System.Globalization
@model UpdateProductDto

<div class="col-lg-7 h-auto mb-30">
    <div class="h-100 bg-light p-30">
        <h3>@Model.ProductName</h3>
        <div class="d-flex mb-3">
            <div class="text-primary mr-2">
                <small class="fas fa-star"></small>
                <small class="fas fa-star"></small>
                <small class="fas fa-star"></small>
                <small class="fas fa-star-half-alt"></small>
                <small class="far fa-star"></small>
            </div>
            <small class="pt-1">(54 Değerlendirme)</small>
        </div>
        <h3 class="font-weight-semi-bold mb-4">@Model.ProductPrice.ToString("C", new CultureInfo("tr-TR"))</h3>
        <p class="mb-4">@Model.ProductDescription</p>

        <div class="d-flex align-items-center mb-4 pt-2">
            <a class="btn btn-primary px-3" href="/shoppingcart/addbasketitem?productId=@Model.ProductID"><i class="fa fa-shopping-cart mr-1"></i> Sepete Ekle </a>
        </div>

        <div class="d-flex pt-2">
            <strong class="text-dark mr-2">Paylaş:</strong>
            <div class="d-inline-flex">
                <a class="text-dark px-2" href="https://www.facebook.com">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-dark px-2" href="https://www.x.com">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-dark px-2" href="https://www.linkedin.com">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-dark px-2" href="https://www.instagram.com">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</div>