@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        @await Component.InvokeAsync("_ShoppingCartProductListComponentPartial")

        @* @await Component.InvokeAsync("_ShoppingCartDiscountComponentPartial") *@

        @await Html.PartialAsync("~/Views/Discount/ConfirmDiscountCode.cshtml")

    </div>
</div>

@section Scripts {
    <script>
        function removeItemFromBasket(htmlId) {
            setTimeout(function () {
                var quantityValue = $("#itemQuantity-" + htmlId + "").val();
                console.log("htmlId: ", htmlId);
                console.log("itemQuantityForRemove: ", quantityValue);
            }, 1000);
        }

        function addItemToBasket(htmlId) {
            setTimeout(function () {
                var quantityValue = $("#itemQuantity-" + htmlId + "").val();
                console.log("htmlId: ", htmlId);
                console.log("itemQuantityForAdd: ", quantityValue);
            }, 1000);
        }

        // $("#removeBasketItem").click(removeItemFromBasket);
        // $("#addBasketItem").click(addItemToBasket);

    </script>
}