@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        @await Component.InvokeAsync("_ShoppingCartProductListComponentPartial")

        @* @await Component.InvokeAsync("_ShoppingCartDiscountComponentPartial") *@

        @await Html.PartialAsync("~/Views/Discount/ConfirmDiscountCode.cshtml")

    </div>
</div>

@section Scripts {
    <script>
        function executePostAjaxOperations(url, data) {
            $.ajax({
                url: url,
                type: "POST",
                data: data,
                success: function (successResult) {
                    console.log("successResult: ", successResult);
                    window.location.reload();
                }
            });
        }

        function removeItemFromBasket(htmlId) {
            setTimeout(function () {
                var quantityValue = $("#itemQuantity-item-" + htmlId + "").val();

                var removedData = {
                    productId: htmlId,
                    itemQuantity: quantityValue
                }
                executePostAjaxOperations("/shoppingcart/removebasketitemfrombasket", removedData);
            }, 1000);
        }

        function addItemToBasket(htmlId) {
            setTimeout(function () {
                var quantityValue = $("#itemQuantity-item-" + htmlId + "").val();

                var addedData = {
                    productId: htmlId,
                    itemQuantity: quantityValue
                }
                executePostAjaxOperations("/shoppingcart/updatebasketitem", addedData);
            }, 1000);
        }

    </script>
}