@model List<ResultOfferDiscountDto>

<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        @if (Model != null)
        {
            if (Model.Count() < 1)
            {
                <div class="col-md-12">
                    <div class="product-offer mb-30" style="height: 300px;">
                        <div class="offer-text">
                            <h3 class="text-white mb-3">Henüz Özel İndirim Teklifi Bulunamaktadır</h3>
                        </div>
                    </div>
                </div>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <div class="col-md-6">
                        <div class="product-offer mb-30" style="height: 300px;">
                            <img class="img-fluid" src="~/userfiles/@item.OfferDiscountSubImageUrl" alt="image">
                            <div class="offer-text">
                                <h6 class="text-white text-uppercase">@item.OfferDiscountTitle</h6>
                                <h3 class="text-white mb-3">@item.OfferDiscountSubTitle</h3>
                                <a href="#" class="btn btn-primary">Alışverişe Başla</a>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <div class="col-md-12">
                <div class="product-offer mb-30" style="height: 300px;">
                    <div class="offer-text">
                        <h3 class="text-white mb-3">Özel İndirim Teklifi Bulunamadı</h3>
                    </div>
                </div>
            </div>
        }
    </div>
</div>