@model UpdateOrderAddressDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

@if (Model.UserId == null)
{
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="bg-light p-30 mb-5">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="alert alert-danger">Kayıtlı Adresiniz Bulunmamaktadır. Siparişinizi Tamamlamak İçin Lütfen Adres Ekleyiniz.</div>
                        </div>
                        <div class="col-md-2 form-group">
                            <a href="/user/profile/addorderaddress" class="btn btn-success">Adres Ekle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <form id="OrderAddressForm" method="post">
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-lg-8">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Teslimat ve Fatura Adresi</span></h5>
                    <div class="bg-light p-30 mb-5">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Adınız</label>
                                <input asp-for="Name" class="form-control" type="text" placeholder="Adınız" readonly="true">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Soyadınız</label>
                                <input asp-for="Surname" class="form-control" type="text" placeholder="Soyadınız" readonly="true">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                <input asp-for="Email" class="form-control" type="text" placeholder="mail@email.com" readonly="true">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Telefon</label>
                                <input asp-for="Phone" class="form-control" type="text" placeholder="+90 5xxx xxx xx xx" readonly="true">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Adres Detayı 1</label>
                                <input asp-for="Detail1" class="form-control" type="text" placeholder="Adres Detayı" readonly="true">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Adres Detay 2</label>
                                <input asp-for="Detail2" class="form-control" type="text" placeholder="Adres Detayı" readonly="true">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Ülke</label>
                                <input asp-for="Country" class="form-control" type="text" placeholder="Türkiye" readonly="true">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Şehir</label>
                                <input asp-for="City" class="form-control" type="text" placeholder="Şehir" readonly="true">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>İlçe</label>
                                <input asp-for="Discrict" class="form-control" type="text" placeholder="İlçe" readonly="true">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Posta Kodu</label>
                                <input asp-for="ZipCode" class="form-control" type="text" placeholder="Posta Kodu" readonly="true">
                            </div>
                            <div class="col-md-12 form-group">
                                <label>Açıklama</label>
                                <textarea asp-for="Description" class="form-control" type="text" rows="5" placeholder="Açıklama" readonly="true"></textarea>
                            </div>
                            <div class="col-md-6 form-group">
                                <a href="/user/profile/addresses" class="btn btn-success">Adres Güncelle</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">

                    @await Component.InvokeAsync("_OrderSummaryComponentPartial")

                    @await Component.InvokeAsync("_PaymentMethodComponentPartial")

                </div>
            </div>
        </div>
    </form>
}