@model CreateFeatureSliderDto

@{
    ViewData["Title"] = "CreateFeatureSlider";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Öne Çıkan Ekleme Sayfası</h4>
                <p class="alert alert-info">Öne Çıkan ile ilgili ekleme işlemlerinizi aşağıdaki tablo üzerinden gerçekleştirebilirsiniz.</p>
                <div class="row">
                    <form id="AddNewFeatureSlider" asp-area="Admin" asp-controller="FeatureSlider" asp-action="CreateFeatureSlider" method="post" enctype="multipart/form-data">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label asp-for="Title" class="control-label">Öne Çıkan Başlığı</label>
                                <input asp-for="Title" type="text" class="form-control" placeholder="Öne Çıkan Başlığı" />
                                <span asp-validation-for="Title" class="text text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label asp-for="Description" class="control-label">Öne Çıkan Açıklama</label>
                                <input asp-for="Description" type="text" class="form-control" placeholder="Öne Çıkan Açıklama" />
                                <span asp-validation-for="Description" class="text text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label asp-for="@Model.Image" class="control-label">Öne Çıkan Görsel</label>
                                <input type="file" asp-for="@Model.Image" />
                                <span asp-validation-for="@Model.Image" class="text text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label asp-for="IsActive" class="control-label">Öne Çıkan Durumu</label>
                                <input asp-for="IsActive" type="checkbox" placeholder="Öne Çıkan Durumu" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
