<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item sidebar-category">
            <p>Menüler</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/myorder">
                <i class="mdi mdi-shopping menu-icon"></i>
                <span class="menu-title">Aktif Siparişlerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/myorder/">
                <i class="mdi mdi-history menu-icon"></i>
                <span class="menu-title">Geçmiş Siparişlerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/profile/addresses">
                <i class="mdi mdi-compass menu-icon"></i>
                <span class="menu-title">Adres Bilgilerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/profile/personalinfos">
                <i class="mdi mdi-key-variant menu-icon"></i>
                <span class="menu-title">Kişisel Bilgilerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/profile/changepassword">
                <i class="mdi mdi-key-variant menu-icon"></i>
                <span class="menu-title">Şifre Değişikliği</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/message/inbox">
                <i class="mdi mdi-message-text menu-icon"></i>
                <span class="menu-title">Gelen Mesajlarım</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/message/sendbox">
                <i class="mdi mdi-message-reply-text menu-icon"></i>
                <span class="menu-title">Giden Mesajlarım</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>