@using System.Globalization
@model List<ResultProductWithCategoryDto>
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden" style="height: 200px;">
                        <img class="img-fluid w-100 h-100" src="~/userfiles/@item.ProductImageUrl" alt="product-image" style="object-fit: cover;">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate d-block" href="/productlist/productdetail/@item.ProductID" style="max-width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.ProductName</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>@item.ProductPrice.ToString("C", new CultureInfo("tr-TR"))</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(26)</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
